<section class="content-header">
  <h1>
    GMB一覧
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>ホーム</a></li>
    <li class="active">GMB一覧</li>
  </ol>
</section>
