<div class="nested-fields pattern-form">
  <div class="form-group">
    <div>
      <%= link_to_remove_association "削除", f, class: "btn btn-danger btn-remove-pattern" %>
    </div>
    <%= f.text_area :content, rows: 10, class:"form-control" %>
  </div>
</div>
