<%= content_for :additional_stylesheet do %>
  <%= stylesheet_link_tag 'components/review_list' %>
<% end %>

<dl class="review-list">
  <dt class="review-meta">
    <div class="logo" style="background-image:url('http://www.nina-co.net/img/common/logo.png');"></div>
    <div class="from-name">すすき</div>
    <div class="stars">
      <div style="color:orange"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
    </div>
    <div class="score">（5）</div>
    <div class="date">2019/06/24</div>
    <div class="clear"></div>
  </dt>
  <dd class="review-content">
    検討中
    <div class="review-content-footer">
      <div class="clearfix">
        <div class="sender senderMsgOfReview" reviewid="27463">
          <div class="left">担当：</div>
          <a href="?user_id=9135&amp;s=34&amp;u=9135" class="link">
            <div class="sender-image" style="background-image:url('https://cocoreview.s3.ap-northeast-1.amazonaws.com/155913793675.jpg')"></div>
            高橋 
          </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </dd>
  <dt class="review-meta">
    <div class="logo" style="background-image:url('http://www.nina-co.net/img/common/logo.png');"></div>
    <div class="from-name">テスト</div>
    <div class="stars">
      <div style="color:orange"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
    </div>
    <div class="score">（5）</div>
    <div class="date">2019/05/17</div>
    <div class="clear"></div>
  </dt>
  <dd class="review-content">
    とても良いです！
    <div class="review-content-footer">
      <div class="clearfix">
        <div class="sender senderMsgOfReview" reviewid="27460">
          <div class="left">担当：</div>
          <a href="?user_id=9135&amp;s=34&amp;u=9135" class="link">
            <div class="sender-image" style="background-image:url('https://cocoreview.s3.ap-northeast-1.amazonaws.com/155913793675.jpg')"></div>
            高橋 
          </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </dd>
  <dt class="review-meta">
    <div class="logo" style="background-image:url('http://www.nina-co.net/img/common/logo.png');"></div>
    <div class="from-name">komachi</div>
    <div class="stars">
      <div style="color:orange"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
    </div>
    <div class="score">（5）</div>
    <div class="date">2019/04/23</div>
    <div class="clear"></div>
  </dt>
  <dd class="review-content">
    よかった
    <div class="review-content-footer">
      <div class="clearfix">
        <div class="sender senderMsgOfReview" reviewid="27459">
          <div class="left">担当：</div>
          <a href="?user_id=9135&amp;s=34&amp;u=9135" class="link">
            <div class="sender-image" style="background-image:url('https://cocoreview.s3.ap-northeast-1.amazonaws.com/155913793675.jpg')"></div>
            高橋 
          </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </dd>
  <dt class="review-meta">
    <div class="logo" style="background-image:url('http://www.nina-co.net/img/common/logo.png');"></div>
    <div class="from-name">印南</div>
    <div class="stars">
      <div style="color:orange"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
    </div>
    <div class="score">（5）</div>
    <div class="date">2019/04/23</div>
    <div class="clear"></div>
  </dt>
  <dd class="review-content">
    jvぐk
    <div class="review-content-footer">
      <div class="clearfix">
        <div class="sender senderMsgOfReview" reviewid="27458">
          <div class="left">担当：</div>
          <a href="?user_id=9135&amp;s=34&amp;u=9135" class="link">
            <div class="sender-image" style="background-image:url('https://cocoreview.s3.ap-northeast-1.amazonaws.com/155913793675.jpg')"></div>
            高橋 
          </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </dd>
  <dt class="review-meta">
    <div class="logo" style="background-image:url('http://www.nina-co.net/img/common/logo.png');"></div>
    <div class="from-name">舟津</div>
    <div class="stars">
      <div style="color:orange"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
    </div>
    <div class="score">（5）</div>
    <div class="date">2019/04/23</div>
    <div class="clear"></div>
  </dt>
  <dd class="review-content">
    えrgf
    <div class="review-content-footer">
      <div class="clearfix">
        <div class="sender senderMsgOfReview" reviewid="27457">
          <div class="left">担当：</div>
          <a href="?user_id=9135&amp;s=34&amp;u=9135" class="link">
            <div class="sender-image" style="background-image:url('https://cocoreview.s3.ap-northeast-1.amazonaws.com/155913793675.jpg')"></div>
            高橋 
          </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </dd>
  <dt class="review-meta">
    <div class="logo" style="background-image:url('http://www.nina-co.net/img/common/logo.png');"></div>
    <div class="from-name">山田親史</div>
    <div class="stars">
      <div style="color:orange"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
    </div>
    <div class="score">（5）</div>
    <div class="date">2019/04/17</div>
    <div class="clear"></div>
  </dt>
  <dd class="review-content">
    よかった
    <div class="review-content-footer">
      <div class="clearfix">
        <div class="sender senderMsgOfReview" reviewid="27456">
          <div class="left">担当：</div>
          <a href="?user_id=9135&amp;s=34&amp;u=9135" class="link">
            <div class="sender-image" style="background-image:url('https://cocoreview.s3.ap-northeast-1.amazonaws.com/155913793675.jpg')"></div>
            高橋 
          </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </dd>
  <dt class="review-meta">
    <div class="logo" style="background-image:url('http://www.nina-co.net/img/common/logo.png');"></div>
    <div class="from-name">basi</div>
    <div class="stars">
      <div style="color:orange"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
    </div>
    <div class="score">（5）</div>
    <div class="date">2019/01/22</div>
    <div class="clear"></div>
  </dt>
  <dd class="review-content">
    おす
    <div class="review-content-footer">
      <div class="clearfix">
        <div class="sender senderMsgOfReview" reviewid="27455">
          <div class="left">担当：</div>
          <a href="?user_id=9135&amp;s=34&amp;u=9135" class="link">
            <div class="sender-image" style="background-image:url('https://cocoreview.s3.ap-northeast-1.amazonaws.com/155913793675.jpg')"></div>
            高橋 
          </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </dd>
  <dt class="review-meta">
    <div class="logo" style="background-image:url('http://www.nina-co.net/img/common/logo.png');"></div>
    <div class="from-name">basi</div>
    <div class="stars">
      <div style="color:orange"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
    </div>
    <div class="score">（5）</div>
    <div class="date">2019/01/22</div>
    <div class="clear"></div>
  </dt>
  <dd class="review-content">
    ほむ
    <div class="review-content-footer">
      <div class="clearfix">
        <div class="sender senderMsgOfReview" reviewid="27454">
          <div class="left">担当：</div>
          <a href="?user_id=9135&amp;s=34&amp;u=9135" class="link">
            <div class="sender-image" style="background-image:url('https://cocoreview.s3.ap-northeast-1.amazonaws.com/155913793675.jpg')"></div>
            高橋 
          </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </dd>
  <dt class="review-meta">
    <div class="logo" style="background-image:url('http://www.nina-co.net/img/common/logo.png');"></div>
    <div class="from-name">test</div>
    <div class="stars">
      <div style="color:orange"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
    </div>
    <div class="score">（5）</div>
    <div class="date">2019/01/10</div>
    <div class="clear"></div>
  </dt>
  <dd class="review-content">
    ああああ
    <div class="review-content-footer">
      <div class="clearfix">
        <div class="sender senderMsgOfReview" reviewid="27453">
          <div class="left">担当：</div>
          <a href="?user_id=9135&amp;s=34&amp;u=9135" class="link">
            <div class="sender-image" style="background-image:url('https://cocoreview.s3.ap-northeast-1.amazonaws.com/155913793675.jpg')"></div>
            高橋 
          </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </dd>
  <dt class="review-meta">
    <div class="logo" style="background-image:url('http://www.nina-co.net/img/common/logo.png');"></div>
    <div class="from-name">テスト</div>
    <div class="stars">
      <div style="color:orange"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
    </div>
    <div class="score">（5）</div>
    <div class="date">2018/12/12</div>
    <div class="clear"></div>
  </dt>
  <dd class="review-content">
    kbh
    <div class="review-content-footer">
      <div class="clearfix">
        <div class="sender senderMsgOfReview" reviewid="27452">
          <div class="left">担当：</div>
          <a href="?user_id=9135&amp;s=34&amp;u=9135" class="link">
            <div class="sender-image" style="background-image:url('https://cocoreview.s3.ap-northeast-1.amazonaws.com/155913793675.jpg')"></div>
            高橋 
          </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </dd>
  <dt class="review-meta">
    <div class="logo" style="background-image:url('http://www.nina-co.net/img/common/logo.png');"></div>
    <div class="from-name">テストっjっh</div>
    <div class="stars">
      <div style="color:orange"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
    </div>
    <div class="score">（5）</div>
    <div class="date">2018/12/12</div>
    <div class="clear"></div>
  </dt>
  <dd class="review-content">
    hxhcjckcj
    <div class="review-content-footer">
      <div class="clearfix">
        <div class="sender senderMsgOfReview" reviewid="27451">
          <div class="left">担当：</div>
          <a href="?user_id=9135&amp;s=34&amp;u=9135" class="link">
            <div class="sender-image" style="background-image:url('https://cocoreview.s3.ap-northeast-1.amazonaws.com/155913793675.jpg')"></div>
            高橋 
          </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </dd>
  <dt class="review-meta">
    <div class="logo" style="background-image:url('http://www.nina-co.net/img/common/logo.png');"></div>
    <div class="from-name">テストあ</div>
    <div class="stars">
      <div style="color:orange"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
    </div>
    <div class="score">（5）</div>
    <div class="date">2018/12/10</div>
    <div class="clear"></div>
  </dt>
  <dd class="review-content">
    い
    <div class="review-content-footer">
      <div class="clearfix">
        <div class="sender senderMsgOfReview" reviewid="27450">
          <div class="left">担当：</div>
          <a href="?user_id=9135&amp;s=34&amp;u=9135" class="link">
            <div class="sender-image" style="background-image:url('https://cocoreview.s3.ap-northeast-1.amazonaws.com/155913793675.jpg')"></div>
            高橋 
          </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </dd>
  <dt class="review-meta">
    <div class="logo" style="background-image:url('http://www.nina-co.net/img/common/logo.png');"></div>
    <div class="from-name">川口克洋</div>
    <div class="stars">
      <div style="color:orange"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
    </div>
    <div class="score">（5）</div>
    <div class="date">2018/12/07</div>
    <div class="clear"></div>
  </dt>
  <dd class="review-content">
    素晴らしい医院です。
    <div class="review-content-footer">
      <div class="clearfix">
        <div class="sender senderMsgOfReview" reviewid="27449">
          <div class="left">担当：</div>
          <a href="?user_id=9135&amp;s=34&amp;u=9135" class="link">
            <div class="sender-image" style="background-image:url('https://cocoreview.s3.ap-northeast-1.amazonaws.com/155913793675.jpg')"></div>
            高橋 
          </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </dd>
  <dt class="review-meta">
    <div class="logo" style="background-image:url('http://www.nina-co.net/img/common/logo.png');"></div>
    <div class="from-name">komachi</div>
    <div class="stars">
      <div style="color:orange"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
    </div>
    <div class="score">（5）</div>
    <div class="date">2018/12/06</div>
    <div class="clear"></div>
  </dt>
  <dd class="review-content">
    あああああこ
    <div class="review-content-footer">
      <div class="clearfix">
        <div class="sender senderMsgOfReview" reviewid="27448">
          <div class="left">担当：</div>
          <a href="?user_id=9135&amp;s=34&amp;u=9135" class="link">
            <div class="sender-image" style="background-image:url('https://cocoreview.s3.ap-northeast-1.amazonaws.com/155913793675.jpg')"></div>
            高橋 
          </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </dd>
  <dt class="review-meta">
    <div class="logo" style="background-image:url('http://www.nina-co.net/img/common/logo.png');"></div>
    <div class="from-name">basi</div>
    <div class="stars">
      <div style="color:orange"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
    </div>
    <div class="score">（5）</div>
    <div class="date">2018/12/03</div>
    <div class="clear"></div>
  </dt>
  <dd class="review-content">
    ほう！
    <div class="review-content-footer">
      <div class="clearfix">
        <div class="sender senderMsgOfReview" reviewid="27447">
          <div class="left">担当：</div>
          <a href="?user_id=9135&amp;s=34&amp;u=9135" class="link">
            <div class="sender-image" style="background-image:url('https://cocoreview.s3.ap-northeast-1.amazonaws.com/155913793675.jpg')"></div>
            高橋 
          </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </dd>
  <dt class="review-meta">
    <div class="logo" style="background-image:url('http://www.nina-co.net/img/common/logo.png');"></div>
    <div class="from-name">お客様氏名10</div>
    <div class="stars">
      <div style="color:orange"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
    </div>
    <div class="score">（5）</div>
    <div class="date">2018/11/06</div>
    <div class="clear"></div>
  </dt>
  <dd class="review-content">
    コメントテスト10
    <div class="review-content-footer">
      <div class="clearfix">
        <div class="sender senderMsgOfReview" reviewid="27446">
          <div class="left">担当：</div>
          <a href="?user_id=9352&amp;s=34&amp;u=9135" class="link">
          森岡                </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </dd>
  <dt class="review-meta">
    <div class="logo" style="background-image:url('http://www.nina-co.net/img/common/logo.png');"></div>
    <div class="from-name">お客様氏名７</div>
    <div class="stars">
      <div style="color:orange"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
    </div>
    <div class="score">（5）</div>
    <div class="date">2018/11/05</div>
    <div class="clear"></div>
  </dt>
  <dd class="review-content">
    コメントテスト７
    <div class="review-content-footer">
      <div class="clearfix">
        <div class="sender senderMsgOfReview" reviewid="27445">
          <div class="left">担当：</div>
          <a href="?user_id=9352&amp;s=34&amp;u=9135" class="link">
          森岡                </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </dd>
  <dt class="review-meta">
    <div class="logo" style="background-image:url('http://www.nina-co.net/img/common/logo.png');"></div>
    <div class="from-name">お客様氏名４</div>
    <div class="stars">
      <div style="color:orange"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div>
    </div>
    <div class="score">（3）</div>
    <div class="date">2018/11/05</div>
    <div class="clear"></div>
  </dt>
  <dd class="review-content">
    コメントテストです。 評価3
    <div class="review-content-footer">
      <div class="clearfix">
        <div class="sender senderMsgOfReview" reviewid="27444">
          <div class="left">担当：</div>
          <a href="?user_id=9136&amp;s=34&amp;u=9135" class="link">
            <div class="sender-image" style="background-image:url('https://cocoreview.s3-ap-northeast-1.amazonaws.com/151304745241.png')"></div>
            小町 
          </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </dd>
  <dt class="review-meta">
    <div class="logo" style="background-image:url('http://www.nina-co.net/img/common/logo.png');"></div>
    <div class="from-name">お客様氏名3</div>
    <div class="stars">
      <div style="color:orange"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></div>
    </div>
    <div class="score">（4）</div>
    <div class="date">2018/11/05</div>
    <div class="clear"></div>
  </dt>
  <dd class="review-content">
    コメントテスト3です。
    <div class="review-content-footer">
      <div class="clearfix">
        <div class="sender senderMsgOfReview" reviewid="27443">
          <div class="left">担当：</div>
          <a href="?user_id=9193&amp;s=34&amp;u=9135" class="link">
            <div class="sender-image" style="background-image:url('https://cocoreview.s3-ap-northeast-1.amazonaws.com/152782729717.png')"></div>
            遠藤 
          </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </dd>
  <dt class="review-meta">
    <div class="logo" style="background-image:url('http://www.nina-co.net/img/common/logo.png');"></div>
    <div class="from-name">tuta</div>
    <div class="stars">
      <div style="color:orange"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
    </div>
    <div class="score">（5）</div>
    <div class="date">2018/08/13</div>
    <div class="clear"></div>
  </dt>
  <dd class="review-content">
    test
    <div class="review-content-footer">
      <div class="clearfix">
        <div class="sender senderMsgOfReview" reviewid="27317">
          <div class="left">担当：</div>
          <a href="?user_id=9135&amp;s=34&amp;u=9135" class="link">
            <div class="sender-image" style="background-image:url('https://cocoreview.s3.ap-northeast-1.amazonaws.com/155913793675.jpg')"></div>
            高橋 
          </a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </dd>
</dl>
