<section class="content-header">
  <h1>
    お知らせ
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> ホーム</a></li>
    <li class="active">お知らせ</li>
  </ol>
</section>
