.coupon-container {
  .expire-time {
    background: #ffd402;
  }

  .use-coupon-btn {
    width: 40%;
    padding: 20px 0;
  }

  .view-condition-btn {
    width: 40%;
    padding: 20px 0;
  }

  .coupon-description {
    margin-top: 40px;
  }

  .coupon-buttons {
    margin-top: 10px;
  }
}
