<div class="col-xs-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">ポジティブワード一覧</h3>
    </div>
    <div class="box-body">
      <div class="table table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr role="row">
              <th style="text-align: center; min-width: 130px;">ユーザー名</th>
              <th style="text-align: center; min-width: 200px;">ワード名</th>
              <th style="text-align: center;">コメント内容</th>
              <th style="text-align: center; min-width: 200px;">投稿日時</th>
            </tr>
          </thead>
          <tbody class="positive-reviews-list">
            <%= render "keyword_review_item",
                       keyword_reviews: @positive_reviews,
                       word_type: :positive_keywords %>
          </tbody>
        </table>
      </div>
      <div id="pagination-positive-reviews">
        <%= paginate @positive_reviews, param_name: "page_positive" %>
      </div>
    </div>
  </div>
</div>
